{#<h4>Votre annonce est maintenant visible</h4>#}
<h1>Demande de reservation </h1>

<br/>

<p>
    Votre demande de reservation concrnant l'annonce <a target="_blank" href="{{ path('ls_imarket_voir_annonce', {'id': annonce.id})}}"><strong> {{ annonce.titre }}</strong></a> a été prise en compte avec succes.
</p>

